Repository aaron-howard/api-document-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jest-test

typescript-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

jest-test:
  name: Jest Tests
  entry: npm test
  language: system
  pass_filenames: false

Final project completion and repository setup
  .gitignore
  PROJECT-COMPLETION-FINAL.md
  tests/validation/final-validation.test.ts
  tests/validation/quickstart-validation.test.ts
Due: jest-test

added some examples
  .env.example
  api-doc-gen.config.js
  dist/core/models/input-source.js
  example-project/api-doc-gen.config.js
  example-project/specs/sample-api.yaml
Due: none

updates made to finalize the app
  dist/cli/commands/generate.d.ts
  dist/cli/commands/generate.d.ts.map
  dist/cli/commands/generate.js
  dist/cli/commands/generate.js.map
  docs/API.md
  docs/api.html
  docs/api.json
  docs/api.pdf
  html-docs/api.html
  package.json
  src/cli/commands/generate.ts
  src/server.ts
Due: typescript-check, jest-test

add more functions to the app
  CHANGELOG.md
  CONTRIBUTING.md
  dist/cli/cli-service.d.ts
  dist/cli/cli-service.d.ts.map
  dist/cli/cli-service.js.map
  dist/cli/commands/generate.d.ts
  dist/cli/commands/generate.d.ts.map
  dist/cli/commands/generate.js
  dist/cli/commands/generate.js.map
  dist/cli/index.d.ts.map
  dist/cli/index.js
  dist/cli/index.js.map
  dist/parsers/parser-service.d.ts
  dist/parsers/parser-service.d.ts.map
  dist/parsers/parser-service.js
  dist/parsers/parser-service.js.map
  docs/README.md
  docs/api-diagram.uml
  docs/architecture-diagram.uml
  docs/architecture.html
  docs/architecture.json
  docs/changelog.md
  docs/developer-guide-diagram.uml
  docs/developer-guide.html
  docs/developer-guide.json
  docs/developer-guide.md
  docs/security-diagram.uml
  example-project/CHANGELOG.md
  example-project/CONTRIBUTING.md
  src/cli/cli-service.ts
  src/cli/commands/generate.ts
  src/cli/index.ts
  src/generators/formats/uml-generator.ts
  src/parsers/languages/changelog-parser.ts
  src/parsers/languages/developer-guide-parser.ts
  src/parsers/parser-service.ts
Due: typescript-check, jest-test

fixed express.js parsing
  ARCHITECTURE.md
  CHANGELOG.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  IMPLEMENTATION-SUMMARY-T031.md
  PROJECT-COMPLETION-FINAL.md
  README.md
  dist/cli/cli-service.d.ts
  dist/cli/cli-service.d.ts.map
  dist/cli/commands/generate.d.ts
  dist/cli/commands/generate.d.ts.map
  dist/cli/commands/generate.js
  dist/cli/commands/generate.js.map
  dist/parsers/parser-service.d.ts
  dist/parsers/parser-service.d.ts.map
  dist/parsers/parser-service.js
  dist/parsers/parser-service.js.map
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/README.md
  docs/changelog.md
  example-express-project/src/app.js
  example-express-project/src/routes/users.js
  src/cli/cli-service.ts
  src/cli/commands/generate.ts
  src/parsers/languages/express-parser.ts
  src/parsers/parser-service.ts
  test-docs/api.html
  test-express-docs/api.html
  test-express-parser.js
Due: typescript-check, jest-test

fixed express.js files
  dist/cli/commands/generate.d.ts.map
  dist/cli/commands/generate.js
  dist/cli/commands/generate.js.map
  dist/parsers/parser-service.d.ts.map
  dist/parsers/parser-service.js
  dist/parsers/parser-service.js.map
  src/cli/commands/generate.ts
  src/parsers/languages/express-parser.ts
  src/parsers/parser-service.ts
Due: typescript-check, jest-test

Path conditions:
  typescript-check: any of: ^src/.*\.ts$
  jest-test: any of: ^(src|tests)/.*\.(ts|js)$
